# gcloud related secrets
SERVICE_NAME=
REGION=
PROJECT_ID=
SERVICE_ACCOUNT=
REPO_NAME=
IMAGE_NAME=
IMAGE_VERSION=

# Image related secrets
HUGGING_FACE_HUB_TOKEN=
MODEL_NAME=
MAX_MODEL_LEN=
MAX_NUM_SEQS=
