AGENT_MODEL=
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=
GOOGLE_API_KEY=
GOOGLE_GENAI_USE_VERTEXAI=
GOOGLE_EMBEDDING_MODEL=
DOC_BUCKET=
EMB_BUCKET=
EMB_FILENAME=
INDEX_URL=
INDEX_ENDPOINT=
INDEX_ENDPOINT_ID=
DB_INSTANCE=
DB_NAME=
DB_USER=
DB_PASSWORD=
TABLE_NAME=

# vLLM model
VLLM_BASE_URL=
VLLM_MODEL=
